# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Toolchain
/node_modules
/bower_components
/platforms
/plugins
/typings/*
!/typings/custom/
/typings-tests/*
!/typings-tests/custom/

# Development Artifacts
/www/lib
/www/js/bundle.*
/www/js/BuildVars.js
/www/js/src/
/src/tsd.d.ts
/tests/tsd.d.ts
/chrome
/tests/**/*.js
/tests/**/*.map
/docs/*
/tmp/*