<ion-view view-title="Development Tools">

    <ion-nav-buttons side="left">
    </ion-nav-buttons>

    <ion-content class="has-header">

        <div class="list card">
            <div class="item item-divider">HTTP API</div>

            <label class="item item-toggle">
                Mock API Requests
                <label class="toggle toggle-balanced">
                    <input type="checkbox"
                        ng-model="viewModel.mockApiRequests"
                        ng-change="controller.mockApiRequests_change()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle">
                Log Request/Responses
                <label class="toggle toggle-balanced">
                    <input type="checkbox"
                        ng-model="viewModel.enableFullHttpLogging"
                        ng-change="controller.enableFullHttpLogging_change()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-readonly-label" ng-click="controller.logResponseErrors_click()">
                <span>Log Response Errors</span>
                <span>true</span>
            </label>

            <label class="item item-text-wrap" ng-click="controller.apiUrl_click()">
                API URL
                <br/>
                {{viewModel.apiUrl}}
            </label>

        </div>

        <div class="list card">
            <div class="item item-divider">Logging</div>

            <div ui-sref="app.logs" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-copy-outline"></i>
                <i class="icon ion-ios-arrow-forward"></i>
                View Logs
            </div>

            <label class="item item-toggle">
                Log to Local Storage
                <label class="toggle toggle-balanced">
                    <input type="checkbox"
                        ng-model="viewModel.logToLocalStorage"
                        ng-change="controller.logToLocalStorage_change()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

        </div>

        <div class="list card">
            <div class="item item-divider">Current User</div>

            <label class="item item-readonly-label">
                <span>User ID</span>
                <span>{{viewModel.userId}}</span>
            </label>

            <label class="item item-readonly-label item-text-wrap"
                ng-click="controller.userToken_click(viewModel.token)">
                Token
                <br/>
                {{viewModel.token}}
            </label>

        </div>

        <div class="list card">
            <div class="item item-divider">Platform Tools</div>

            <label class="item item-readonly-label">
                <span>Device.Platform</span>
                <span>{{viewModel.devicePlatform}}</span>
            </label>

            <button class="button button-block button-positive" ng-click="controller.addServicesToGlobalScope_click()">Add Services to Global Scope</button>
            <button class="button button-block button-positive" ng-click="controller.setRequirePinThreshold_click()">Set Require PIN Threshold</button>
            <button class="button button-block button-positive" ng-click="controller.resetPinTimeout_click()">Reset PIN Entry Timeout</button>
            <button class="button button-block button-positive" ng-click="controller.reEnableOnboarding_click()">Re-enable Onboarding</button>

        </div>

        <div class="list card">
            <div class="item item-divider item-icon-right">
                Test Exception Handling
                <i class="icon ion-ios-help-outline"
                    ng-click="controller.help_click('Used to simulate different exception types to test logging.')"></i>
                </div>
            <div class="row">
                <div class="col col-33">
                    <button class="button button-block button-assertive" ng-click="controller.testNativeException_click()">Native</button>
                </div>
                <div class="col col-33">
                    <button class="button button-block button-assertive" ng-click="controller.testJsException_click()">JS</button>
                </div>
                <div class="col col-33">
                    <button class="button button-block button-assertive" ng-click="controller.testAngularException_click()">Angular</button>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider item-icon-right">
                HTTP Progress Bar
                <i class="icon ion-ios-help-outline"
                    ng-click="controller.help_click('Used to test the progress indicator functionality that is utilized during HTTP requests.')"></i>
            </div>

            <div class="row">
                <div class="col col-25">
                    <button class="button button-block button-calm" ng-click="controller.startProgress_click()">Start</button>
                </div>
                <div class="col col-25">
                    <button class="button button-block button-calm" ng-click="controller.incrementProgress_click()">Inc.</button>
                </div>
                <div class="col col-25">
                    <button class="button button-block button-calm" ng-click="controller.doneProgress_click()">Done</button>
                </div>
                <div class="col col-25">
                    <button class="button button-block button-calm" ng-click="controller.showFullScreenBlock_click()">Block</button>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider item-icon-right">
                Toast Notifications
                <i class="icon ion-ios-help-outline"
                    ng-click="controller.help_click('Used to test the native toast notification plugin.')"></i>
            </div>

            <div class="row">
                <div class="col col-33">
                    <button class="button button-block button-calm" ng-click="controller.showToast_top()">Top</button>
                </div>
                <div class="col col-33">
                    <button class="button button-block button-calm" ng-click="controller.showToast_center()">Center</button>
                </div>
                <div class="col col-33">
                    <button class="button button-block button-calm" ng-click="controller.showToast_bottom()">Bottom</button>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider item-icon-right">
                Clipboard
                <i class="icon ion-ios-help-outline"
                    ng-click="controller.help_click('Used to test the native clipboard plugin.')"></i>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-calm" ng-click="controller.clipboard_copy()">Copy</button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-calm" ng-click="controller.clipboard_paste()">Paste</button>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider item-icon-right">
                File System I/O
                <i class="icon ion-ios-help-outline"
                    ng-click="controller.help_click('Used to test the native file plugin; this requires cordova-plugin-file.')"></i>
            </div>

            <label class="item item-text-wrap">
                Default Storage Path ID
                <br/>
                {{viewModel.defaultStoragePathId}}
            </label>

            <label class="item item-text-wrap"
                ng-click="controller.defaultStoragePath_click(viewModel.defaultStoragePath)">
                Default Storage Path
                <br/>
                {{viewModel.defaultStoragePath}}
            </label>

            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-royal" ng-click="controller.listFiles_click()">List Files</button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-royal" ng-click="controller.listDirs_click()">List Dirs</button>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-calm" ng-click="controller.readFile_click()">Read File</button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-calm" ng-click="controller.writeFile_click()">Write File</button>
                </div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-calm" ng-click="controller.appendFile_click()">Append File</button>
                </div>
                <div class="col col-50"><button class="button button-block button-calm" ng-click="controller.createDir_click()">Create Dir</button></div>
            </div>

            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-assertive" ng-click="controller.deleteFile_click()">Delete File</button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-assertive" ng-click="controller.deleteDir_click()">Delete Dir</button>
                </div>
            </div>

        </div>

</ion-content>

</ion-view>
