
/* This file contains overrides for the NProgress library's default stylings. */

#nprogress {

    .bar {
        background: #fff;
        height: 1px;
    }

    .peg {
        display: none;
    }

    .spinner-icon {
        border-top-color: #fff;
        border-left-color: #fff;
    }
}
