<ion-view view-title="Log Entry">

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="list card">

            <div class="item item-avatar item-icon-left">
                <i class="icon {{viewModel.icon}}" style="color: {{viewModel.color}}"></i>
                <h2 style="color: {{viewModel.color}}">{{viewModel.levelDisplay}}</h2>
                <p>{{viewModel.date}}&nbsp;&nbsp;&nbsp;{{viewModel.time}}</p>
            </div>

            <div class="item item-body">
                <p>{{viewModel.logEntry.message}}</p>
            </div>

            <div class="item item-body">
                <p>{{viewModel.formattedMetadata}}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="controller.copy_click()">
                    <i class="icon ion-ios-copy-outline"></i>
                    Copy
                </a>
                <a class="tab-item" ng-click="controller.email_click()">
                    <i class="icon ion-ios-email-outline"></i>
                    E-mail
                </a>
            </div>

        </div>
    </ion-content>

</ion-view>
