
/** Global Shared Styles *************************************************************************/

/* Custom styling for the back navigation button to make it look like other buttons. */
.nav-back-button {
	border-color: #145fd7 !important;
	background-color: #4a87ee !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

/* Custom container to enable padding for buttons; useful in ion-content directives when padding="false". */
.button-container {
	padding: 10px;
}

/* Useful for making icons clickable anchors without the default anchor color styling. */
.anchor-icon:link,
.anchor-icon:visited,
.anchor-icon:hover,
.anchor-icon:active {
	color: #444;
}

/* Useful for a label in a read-only list item. */
.item-readonly-label span:first-child {
	float: left;
}

/* Useful for a value in a read-only list item. */
.item-readonly-label span:last-child {
	float: right;
}

/* Useful for vertically centering content in an ion-content directive. */
.content-vertical-center {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/** Configure PIN View ***************************************************************************/

.configure-pin-lock-icon {
	text-align: center;
	font-size: 72pt;
}

/** PIN Entry View *******************************************************************************/

.pin-entry .button.button-block, .pin-entry .button.button-full {
	margin-top: 0;
	margin-bottom: 0;
}

.pin-entry-portrait {
	/* This padding matches the height of the top bar to make it look centered. */
	/* We need this because our CSS that centers the content is 100% height of the view port. */
	padding-top: 44px;
}

.pin-entry-portrait .button.button-block, .pin-entry-portrait .button.button-full {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pin-entry-landscape {
	padding-top: 10px;
}

.pin-entry-landscape .button.button-block, .pin-entry-landscape .button.button-full {
	padding-left: 20px;
	padding-right: 20px;
}

.pin-entry-input button {
	font-size: 60pt;
	background-color: #555e65;
}

.pin-entry-numpad {
	font-size: 30pt;
}

.pin-entry-numpad button {
	font-size: 28pt;
}

/** Icon Panel Directive *************************************************************************/

.icon-panel {
	text-align: center;
}

.icon-panel .icon-container {
	text-align: center;
	font-size: 120pt;
}